---
layout: default
---

<style>
    .home {
        width: 100%;
        display: flex;
    }

    .sidebar {
        width: 20%;
    }

    @media (max-width: 1000px) {
        .sidebar {
            display: none;
        }

        .content {
            width: 100% !important;
            padding-right: 0px !important;
        }
    }

    .sidebar .cat {
        margin-bottom: 10px;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        padding-right: 40px;
        margin-top: 20px;
    }

    .posts {
        flex-grow: 1;
    }

    .posts .trips {
        flex-grow: 2;
    }

    .posts h2 {
        font-size: 1.3em;
    }

    .post {
        margin-bottom: 20px;
    }
</style>

<div class="home">
    <div class="content">
        <div class="posts">
            {% for col in site.collections %}
                {% for doc in col.docs reversed %}
                    <div class="post">
                        <span class="post-date">{{ doc.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                        <p>
                            <figure>
                                <figcaption>{{ doc.description }}</figcaption>
                                <img class="img-responsive" src="{{ doc.image }}" />
                            </figure>
                        </p>
                    </div>
                {% endfor %}
          {% endfor %}
        </div>
    </div>

    <div class="sidebar">
        <div class="cat">
            <h2>About Grisha</h2>
            <p>Hello! I am an "indoors/outdoors enthusiast", currently living in Vancouver, Canada. Day to day I write open source software at Mozilla, and try to get out into nature as much as possible.</p>
        </div>

        {% for col in site.collections %}
            <div class="cat">
                <h2>{{ col.title }}</h2>
                <ul>
                {% for doc in col.docs reversed %}
                    <li>
                        <span class="post-date">{{ doc.date | date: "%b, %Y" }}</span>
                        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
