---
layout: default
---

<style>
    .home {
        width: 100%;
        display: flex;
    }

    .sidebar {
        width: 20%;
    }

    .sidebar .cat {
        margin-bottom: 10px;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        padding-right: 40px;
        margin-top: 20px;
    }

    .posts {
        flex-grow: 1;
    }

    .posts .trips {
        flex-grow: 2;
    }

    .posts h2 {
        font-size: 1.3em;
    }

    .post {
        margin-bottom: 20px;
    }
</style>

<div class="home">
    <div class="content">
        <div class="posts">
            {% for col in site.collections %}
                {% for doc in col.docs reversed %}
                    <div class="post">
                        <span class="post-date">{{ doc.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                        <p>{{ doc.teaser }}</p>
                    </div>
                {% endfor %}
          {% endfor %}
        </div>
    </div>

    <div class="sidebar">
        <div class="cat">
            <h2>About me</h2>
            <p>I'm a Russian-Canadian, currently living in Vancouver. I grew up in Uzbekistan. During the week I work at the non-profit Mozilla. On the weekends I enjoy the outdoors.</p>
        </div>

        {% for col in site.collections %}
            <div class="cat">
                <h2>{{ col.title }}</h2>
                <ul>
                {% for doc in col.docs reversed %}
                    <li>
                        <span class="post-date">{{ doc.date | date: "%b, %Y" }}</span>
                        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
